/*

    사이트 헤더

*/

.site-header {
  max-width: 1024px;
  background-color: var(--header-bg-color);
  margin: 0 auto 50px;
}

.site-header a {
  color: var(--header-text-color);
  font-size: 12px;
}

.site-header .main-header {
  height: 44px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  position: relative;
  transition: height 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header .main-header:has(.ipad-interaction-header.show) {
  height: 109px;
}

.site-header .main-header a {
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8px;
}

.site-header .ipad-interaction-header {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.site-header .ipad-interaction-header a {
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  padding: 0 10px;
}

.site-header .ipad-interaction-header.show {
  height: 65px;
  opacity: 1;
  pointer-events: auto;
}

.site-header .sub-header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  margin: 0 34px;
}

.site-header .sub-header a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0 20px;
}

/* 

    사이트 메인 

*/

/* section-01 */
.main-section-01 {
  margin: 0 5vw;
}

.main-section-01 .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
}

.main-section-01 .title h1 {
  font-size: 80px;
  font-weight: 600;
}

.main-section-01 .title p {
  font-size: 28px;
  font-weight: 500;
}

.main-section-01 .video-parent {
  position: relative;
  margin-bottom: 160px;
}

.main-section-01 video {
  max-width: 90vw;
  display: block;
  border-radius: 40px;
}

.main-section-01 .play-bt-absolute {
  height: 100%;
  position: absolute;
  top: -7%;
  right: 5%;
}

.main-section-01 .play-bt-bg {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 93%;
  right: 5%;
  border-radius: 9999px;
  background-color: rgb(232, 232, 237);
  cursor: pointer;
  transition: opacity 0.3s;
}

.main-section-01 .play-bt-bg img {
  width: 50%;
  opacity: 50%;
}

.play-bt-bg.hide {
  opacity: 0;
  pointer-events: none;
}

/* section-01 */

/* 

    사이트 메인 

*/

.site-footer {
  background-color: var(--footer-bg-color);
}

.site-footer a {
  color: var(--footer-text-color);
}
