
.header-inner{
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
    gap: 25px;

}

.header-inner .logo a,
.header-inner .header-right a
{
    display: block;
    height: 30px;
}

.header-inner .gnb{
    width: 100%;
}


.header-inner .gnb ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    position: relative;
}

.gnb ul li a{
    color: var(--header-text-color);
    font-size: 12px;
    font-weight: 400;
    padding: 19px 20px;
    transition: color 0.3s;
    text-decoration: none;
    display: block;
}

.header-inner .header-right ul{
    display: flex;
    align-items: center;
    gap: 25px;
}

/* dropdown */

.menu-item {
    position: relative;
}

.menu-item .sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; 
    background-color: var(--header-bg-color);
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

/* hover 시: 표시 */
.menu-item:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* 하위 ul 스타일 */
.sub-menu ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
}

.sub-menu ul li a {
    display: block;
    padding: 10px 20px;
    color: var(--header-text-color);
    text-decoration: none;
    transition: background 0.2s;
}

.sub-menu ul li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}